.DS_Store

CoreDisplayFixup/.DS_Store

Tools/.DS_Store

CoreDisplayFixup.xcodeproj/xcuserdata
CoreDisplayFixup.xcodeproj/project.xcworkspace/xcuserdata
CoreDisplayFixup.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist

Lilu.kext/*

*.RELEASE.zip
*.DEBUG.zip